
*{ margin: 0;

    padding: 0;
    }

html{
    font-size: 62,5% ; /* el 62,5 me sirve para que lea la medida del rem 1 rem = 10 px */
}
    

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
}

.titulo{
    text-align: center;
    line-height: 50px;
    color: white;
    background-color: #706C61;
    font-style:italic;
}

.titulo2{
    text-align: center;
    color: #FFFD82;
    background-color: #FF9B71;
    line-height: 50px;
    font-style: italic;
}
.subtitulo{
    color: white;
    text-align: center;
    list-style-type: square;
    background-color: #760606;
    padding-left: 10px;
}
 
.subtitulo2{
    background-color: #2B3A67;
    text-align: center;
    color: white;
}





.redes{
    margin-top: 10px;
    padding: 5px;
}


.paginas{
    background-color: #62998B
}

#fondo{
    background-image: url(../multimedia/Fondoo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
 
#fondoAccesorios{
    background-image: url(../multimedia/FondoAccesorios.jpeg); 
    background-repeat: no-repeat;
    background-size: cover;
}

.main-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-flex ul li{
    display: inline-block;
    text-decoration: none;
    font-style: italic;
    font-size: 20px;
    font-weight: 600;
    flex-wrap: wrap;
}

.main-flex a {
    color: whitesmoke;
    text-decoration: none;
    margin-right: 10px;
}


a:hover{
    color: blue;
}

    /* section{
    display: inline-block;
    flex-direction: row;
    } */
/* Grid index */

.grid-Index{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "titulo titulo titulo"
    "subtitulo subtitulo subtitulo"
    "foto1 foto2 foto3"
    "video video video"
    "footer footer footer";
}

.grid-Index h1{
    grid-area: titulo;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.grid-Index header{
    grid-area: subtitulo;
    text-align: center;
    justify-content: center;
    align-items: center;
}


 .foto1{
    grid-area: foto1;
}

.foto2{
    grid-area: foto2;
}

.foto3{
    grid-area: foto3;
  
} 

.video{
    grid-area: video;
}

.grid-Index footer{
    grid-area: footer;
    /* background-color: aqua; */
}


/* media queires index  */
/* celular */

@media  (max-width: 500px) {
    .main-flex{
        display: inline-block;
        justify-content: space-between;
    }

    .main-flex ul li {
        font-weight: 30;
        margin-right: 20px;
        display: block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .grid-Index{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "titulo"
        "subtitulo"
        "foto1"
        "video"
        "footer";
    }

    .grid-Index h1{
        grid-area: titulo;
        line-height: 30px;
        text-align: left;
        font-size: 20px;
    }

    .grid-Index h3{
        grid-area: subtitulo;
        line-height: 20px;
        font-size: 10px;
    }

  
    .foto1{
        grid-area: foto1;
        height: 100%;
        margin-left: 0px;
    }

     .foto2{
       display: none;
    }

    .foto3{
    display: none;
    }

    .video{
        grid-area: video;
    }

    .footer{
        grid-area: footer;
        font-size: 20px;
    }
    .footer h2{
        text-align: left;
    }
}

/* media queire tablet  */


@media (max-width: 768px) {
    .main-flex{
        display: inline-block;
        justify-content: space-between;
        flex-direction: row;
    }

    .main-flex ul li {
        font-weight: 30;
        margin-right: 20px;
    }
    
    
    .grid-Index{
    display: grid;
    grid-column-gap: 10px ;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "titulo titulo"
    "subtitulo subtitulo"
    "foto1 foto2"
    "video video"
    "footer footer";
    }

    .grid-Index h1{
        grid-area: titulo;
        line-height: 30px;
        text-align: left;
        font-size: 20px;
    }

    .grid-Index h3{
        grid-area: subtitulo;
        line-height: 20px;
        font-size: 10px;
    }

    .foto1{
        grid-area: foto1;
        height: 100%;
        margin-left: 0px;
    }

    .foto2{
        grid-area: foto2;
        height: 100%;
        margin-left: 0px;
    }

    .foto3{
        display: none;
    }
    .video{
        grid-area: video;
    }
    .footer{
        grid-area: footer;
        height: auto;
        font-size: 20px;
    }
}













/* Grid zapatillas */

  .grid-zapatillas{
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "foto1 foto2 foto3 foto4"
    "foto5 foto6 foto7 foto8";
  }


  .foto1{
    grid-area: foto1;
    padding: 10px;
  }

  .foto2{
    grid-area: foto2;
    padding: 10px;
  }

  .foto3{
    grid-area: foto3;
    padding: 10px;
  }

  .foto4{
    grid-area: foto4;
    padding: 10px;
  }

  .foto5{
    grid-area: foto5;
    padding: 10px;
  }

  .foto6{
    grid-area: foto6;
    padding: 10px;
  }

  .foto7{
    grid-area: foto7;
    padding: 10px;
  }

  .foto8{
    grid-area: foto8;
    padding: 10px;
  }

  @media (max-width: 500px) {
    .nav-zapatillas{
        display: inline-block;
        justify-content: space-between;
    }
    .nav-zapatillas ul li{
        font-weight: 30;
        margin-right: 20px;
        display: block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .grid-zapatillas{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) );
        grid-auto-rows: minmax(200px, auto);
        gap: 20px;
        padding: 20px;
        grid-auto-flow: dense;
        grid-template-areas: 
        "foto1" 
        "foto2"
        "foto3" 
        "foto4";
      }
      .grid-zapatillas img{
        height: auto;
        width: auto;
      }
  .foto1{
    grid-area: foto1;
    padding: 10px;
  }

  .foto2{
    grid-area: foto2;
    padding: 10px;
  }

  .foto3{
    grid-area: foto3;
    padding: 10px;
  }

  .foto4{
    grid-area: foto4;
    padding: 10px;
  }

  .foto5{
    display:none;
  }

  .foto6{
    display:none;
  }

  .foto7{
    display:none;
  }

  .foto8{
    display:none;
  }
  }

 
/* Grid accesorios */

.contendor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "foto1 foto2" 
    "foto4 foto5" 
    "foto6 foto7"
    "foto8 foto9";
}

 .foto1{
    grid-area: foto1;
    padding: 10px;
  }

  .foto2{
    grid-area: foto2;
    padding: 10px;
  }

  .foto4{
    grid-area: foto4;
    padding: 10px;
  }

  .foto5{
    grid-area: foto5;
    padding: 10px;
  }

  .foto6{
    grid-area: foto6;
    padding: 10px;
  }

  .foto7{
    grid-area: foto7;
    padding: 10px;
  }

  .foto8{
    grid-area: foto8;
    padding: 10px;
  }

  .foto9{
    grid-area: foto9;
  }