/* MAPS SON VARIABLES CON COLECCION DE VARIABLES */
/* LO PRIMERO QUE HAY QUE HACER ES DECLARAR EL MAPA */


$redes:(
    facebook: blue,
    instagram: violet,
    whatsapp: green
);

@each $red , $color in redes {
    .btn--#{$red}{
        background-color: $color;
    }
}

$colores:(
    primario: #A20D0D,
    secundario: #760606,
    terciario: #FFFD82
);

@each $colors , $color in colores {
    .#{$colors}{
        background-color: $color;
    }
}