
            /* Modificaciones de variables de boots */
$enable-shadows: true;
$btn-padding-y: 1rem;
$btn-padding-x: 2rem;
$btn-border-radius: 1rem;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1000px,
  xl: 1300px,
  xxl: 1500px
);

$sizes:(
    celular: 574px,
    tablet: 768px
);





$colores:(
    primario: #760606,
    secundario: #2B3A67,
    terciario: #000
);

 $estilos:(
    alineacion: center,
    fuente: 30px,
    padding: 0.5rem,
    estilo:italic
 );

.titulo{
    color: map-get($map: $colores, $key: terciario);
    background-color: map-get($map: $colores, $key:primario );
    justify-content: map-get($map: $estilos, $key:alineacion );
    font-size: map-get($map: $estilos, $key:fuente );
    padding: map-get($map: $estilos, $key: padding );
    font-style: map-get($map: $estilos, $key: estilo);
    margin-bottom: 0
}

.subtitulo{
   @extend .titulo;
   background-color: map-get($map: $colores, $key: secundario);
   font-size: 20px;
   list-style-type: square;
}

@mixin sizes ($ancho , $alto) {
    width: $ancho;
    height: $alto;
}



.imagen{
    @include sizes(360px , 170px)
}

