/* MAPS SON VARIABLES CON COLECCION DE VARIABLES */
/* LO PRIMERO QUE HAY QUE HACER ES DECLARAR EL MAPA */

$colores:(
    primario: #760606,
    secundario: #2B3A67,
    terciario: #000
);

 $estilos:(
    alineacion: center,
    fuente: 30px,
    padding: 0,5rem,
    estilo:italic
 );

.titulo{
    color: map-get($map: $colores, $key: primario);
    background-color: map-get($map: $colores, $key:terciario );
    justify-content: map-get($map: $estilos, $key:alineacion );
    font-size: map-get($map: $estilos, $key:fuente );
    padding: map-get($map: $estilos, $key: padding );
    font-style: map-get($map: $estilos, $key: estilo)
}

.subtitulo{
   @extend .titulo;
   font-size: 20px;
   list-style-type: square;
}

.footer{
    @extend .titulo;
    background-color: map-get($map: $colores, $key: terciario);
        
    }
