@import "variables";
@import "mediaqueries";
@import "index";


*{ margin: 0;

    padding: 0;
    }

html{
    font-size: 62,5% ; /* el 62,5 me sirve para que lea la medida del rem 1 rem = 10 px */
}
    

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
}
.main-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
        ul li{
            display: inline-block;
            text-decoration: none;
            font-style: italic;
            font-size: 20px;
            font-weight: 600;
            flex-wrap: wrap;
        }
            a {
                color: whitesmoke;
                text-decoration: none;
                margin-right: 10px;
            }
}

  
.historia{
    max-width: 100%;
    height: auto;
    margin: 1rem;
  }
  
  .navbar-toggler{
    background-color:white;
  }
  
  @keyframes aparecer {
    0%{
      
      opacity: 100%;
    }
  
    50%{
      opacity: 0%;
    }
    100%{
      opacity: 100%;
    }
  }
  

  .texto{
    background-color: antiquewhite;
    color: #760606 ;
    font-size: 1rem;
    margin: 0.5rem;
  }
  
  .formulario{
    color: white;
  }

.logo{
  background-color: black;
}

.slide{
  align-items: center;
}


